*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.media-grid{
    display: flex;
    gap:20px ;
    grid-auto-columns: 1500px auto auto  ;
}
.first{
    background-color: aqua;
}
.second{
    background-color: goldenrod;
}