*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.galeri-minmax{
    display: grid;
    /* each item is same size */
    /* grid-template-columns: repeat(auto-fill, 200px); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    

}